<html>

<head>
    <!-- name of website -->
    <title>ParticleScan</title> 
    <!-- adds a favicon (particle) -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <!-- links the css file to here -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<!-- top header -->

 <header>
    <!-- top left section with the brand info -->
    <div class="brand">
        <div class="brandTitle">ParticleScan</div>
        <div class="brandSlogan">Insights into your Air</div>
    </div>

    <div class="topBand">
        <!-- horizontal nav bar -->
        <nav class="navigation">
            <ul>
            <li> <a href="{{ url_for('dashboard') }}">Dashboard</a> </li>
            <li> <a href="{{ url_for('analytics') }}">Data Analytics</a> </li>
            </ul>
        </nav>

        <!-- sign up/log in area -->

        {% if not loggedIn %}
            <nav class="userAccount">
                <ul>
                    <li> <a href="{{ url_for('login') }}">Login</a> </li>
                    <li> <a class="headerSignUp" href="{{ url_for('signup') }}">Sign Up</a> </li>
                </ul>
            </nav>
        {% elif loggedIn %}
        <nav class="userAccount">
            <ul>
                <li> <a class="headerLogOut" href="{{ url_for('logout') }}">Log Out</a> </li>  
            </ul>
        </nav>
        {% endif %} 
    </div>
    
</header>

<!-- title -->
<div class="titleText"><span style="color: #6275B8; font-weight: bold">Dashboard</span></div>

<!-- time -->
<div class="timeButtonsContainer">
    <div class="timeText" id="timeDashboard">DD/MM/YY HH/MM/SS</div>
    <button id="refreshButton" class="basicButton">Refresh</button>
    <button id="copyAPIButton" class="basicButton">Copy API Key</button>
    <input type="hidden" id="APIText" value="{{apiKey}}">
</div>

<div class="pageFeatures">
    <!-- shows current conc levels -->

    <div class="mainSubtitle">Current Particle <span style="color: #6275B8;">Concentration</span> Levels</div>
    
    <div id="dashboardConcs">
        <div id="pm1">PM1: Loading...</div>
        <div id="pm2_5">PM2.5: Loading...</div>
        <div id="pm10">PM10: Loading...</div>
    </div>

    <div id="dashboardExplanation">Note: PMx represents the concentration of particulate matter with a diameter of less than x micrometers</div>

    <!-- shows graphs of current concentrations  -->

    <div class="mainSubtitle"><span style="color: #6275B8;">Current </span>Graphs</div>

    <div id="dashboardGraphs">
        <div id="dashboardConcGraph">graph 1</div>
        <div id="dashboardExceededGraph">graph 2</div>
    </div>

</div>

<!-- footer -->

<footer>
    <p><strong>ParticleScan</strong> by Diya Menon</p>
</footer>

<!-- link js to html -->
<script src="../static/js/dashboardUi.js"></script>
</body>

</html>