<html>

<head>
    <!-- name of website -->
    <title>ParticleScan</title> 
    <!-- adds a favicon (particle) -->
    <link rel="icon" type="image/png" href="../static/images/favicon.png">
    <!-- links the css file to here -->
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<!-- top header -->

 <header>
    <!-- top left section with the brand info -->
    <div class="brand">
        <div class="brandTitle">ParticleScan</div>
        <div class="brandSlogan">Insights into your Air</div>
    </div>

    <div class="topBand">
        <!-- horizontal nav bar -->
        {% if not loggedIn %}
        <!-- if not logged in, clicking on feature tabs sends user to login page -->
        <nav class="navigation"> 
            <ul>
                <li> <a href="{{ url_for('login') }}">Dashboard</a> </li>
                <li> <a href="{{ url_for('login') }}">Data Analytics</a> </li>
            </ul>
        </nav>
        {% elif loggedIn %}
        <nav class="navigation">
            <ul>
                <li> <a href="{{ url_for('dashboard') }}">Dashboard</a> </li>
                <li> <a href="{{ url_for('analytics') }}">Data Analytics</a> </li>
            </ul>
        </nav>
        {% endif %} 

        <!-- sign up/log in area -->

        {% if not loggedIn %}
            <nav class="userAccount">
                <ul>
                    <li> <a href="{{ url_for('login') }}">Login</a> </li>
                    <li> <a class="headerSignUp" href="{{ url_for('signup') }}">Sign Up</a> </li>
                </ul>
            </nav>
        {% elif loggedIn %}
        <nav class="userAccount">
            <ul>
                <li> <a class="headerLogOut" href="{{ url_for('logout') }}">Log Out</a> </li>  
            </ul>
        </nav>
        {% endif %} 
    </div>
    
</header>

<!-- intro section -->

<div id="introContainer">
    <div id="introText">
        <div class="introTitle">Keep up-to-date with</div>
        <div class="introTitle">the <span style="color: #6275B8; font-weight: bold">air quality</span> and stay <span style="color: #6275B8; font-weight: bold">healthy.</span></div>
        <div id="introSubtitle">Simple. Easy. Effective.</div>

        {% if not loggedIn %}
        <a id="introSignUp" href="{{ url_for('login') }}">Start Tracking</a>
        {% elif loggedIn %}
        <a id="introSignUp" href="{{ url_for('dashboard') }}">Start Tracking</a>
        {% endif %}


    </div>

    <div id="imgContainer">
        <!-- shows an example graph that is created with this website -->
        <img id="introImg" src="">
    </div>
</div>

<div class="divider"></div>

<!-- about the website -->

<div id="aboutWebsite">
    <!-- info text about website -->
    <div id="aboutWebsiteText">Gain <span style="color: #6275B8; font-weight: bold">personalised</span> insights through graphs, reports and <span style="color: #6275B8; font-weight: bold">more!</span></div>
    <!-- a carousel to highlight the website's features -->
    <div id="featureCarousel"></div>
</div>

<!-- footer -->

<footer>
    <p><strong>ParticleScan</strong> by Diya Menon</p>
</footer>


<!-- advertise features - graphs etc thtough carousel-->

</body>

</html>